#form-control1-namecat{
    height:50px;
    width: 700px; 
    background-color:#d2d2ff;
   
}
body{
    background-color: #f3f5f7;
}
div.navbarrules
{
   padding-left: 20px;
   width:100%;
   background-color: white;
   
}
button.btn
{   
    margin-top: 10px; 
}
button.btn-default
{
    margin-left: 10px;
}
button.savecategory
{
    background-color:#007bff;
    padding: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    border: none;
    color: white;
    border-radius: 4px;
}
button.savecategory:hover
{
    background-color:#086edb;
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.2);
}
.div-1-2
{
  margin-top: 10px;
  margin-bottom: 3px;
}
.div-2{
    margin-left:10px;
    margin-right:10px;
    margin-top:50px;
    margin-bottom:20px;
    padding-left:50px;
    padding-top: 25px;
    border-radius:5px;
    font-size:13px;
    font-weight:bold;
    height: 350px;
    background-color: white;
    border: solid 1px #888888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
select#select{
    width:400px;
    height:30px;
    font-size:10px;
    background-color:#d2d2ff;
}
p#logi
{
    color:#007bff;
    font-size:18px;
    font-weight: bold;
}

.input-tab 

{ 
    height:30px;
    width:250px;
    border-radius: 3px;
    border: 1px solid #ccc;
    display: inline-block;
    font-size:10px;
    margin-right:80px;
}

input#categorieinput
{
    width: 93%;
    border: none;
    padding: 3px 4px;
    font-size: 14px;
}

.show {display:block;}

.glyphicon-triangle-bottom
{
    cursor: pointer;
}

.dropdown-content1{

    display: none;

    position: absolute;

    background-color: #FFF !important;

    min-width: 270px;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    z-index: 1;

  }

  .dropdown-content1 td {

    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    font-weight: 400;
    font-size: 12px;
  }
  .dropdown-content1 td:hover {

    background-color: #007bff;
    color: white;
    cursor: pointer;
  }