/* Begin style de head*/
.section-title
{
    float: left;
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
}

.input-group .input-group-btn .btn i{
    color: #007bff;
}

.input-group
{
    float: right;
    margin-bottom: 5px;
    margin-top: 15px;
    width: 400px;
}

/* End style de head*/

/*
head2 begin
*/

.head-principal
{
    position: fixed;
    background-color: #fff;
    border-bottom: 1px solid #BDBDBD;
    width: 86%;
    display: block;
    padding-right: 20px;
    z-index: 5;
}
.container-fluid {
      padding-right: 0px !important;
      padding-left: 0px !important;

}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
/*
head2 end
*/
.row
{  
    margin-right: 15px !important;
    margin-left: 15px !important;    
}

.main
{
    margin-top: 100px;
   
}

@media (max-width:650px)
{
.button-group
{
    text-align: center;
}
.input-group
{
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 330px;
}

.input-group
{
    padding-left: 10px;
    width: 370px;
}

.section-title
{
 display: block;
 padding-left: 10px;
 width: 100%;
}

.main
{
    margin-top: 180px;
}
}

@media (max-width:960px)
{
   .head-principal
   {
       width: 100%;
       padding-right: 20px;
   }
   
}
@media (max-width:950px)
{
    .row
    {
        
        margin-right: 0px !important;
        margin-left: 0px !important;     
        
    }
    .col-xs-4
    {
        margin-left: 0px !important;
        width: 300px;
        height: 200px; 
    }
   
}
@media (max-width:977px)
{
   .head-principal
   {
       padding-right: 20px;
   }
}
@media only screen and (max-width: 1200px) {
    .head-principal{
      padding-right: 50px;
      padding-left: 20px;
    }
}

/*-------------------------------------------------------------------------------------*/

table#warehousestable
{
    background-color: white;
    color: #0a8ea4;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.19);
   
}
thead{
    background-color: #eeeeee;
    color: #000;
    cursor: pointer;
  
}
table td
{
  cursor: pointer;
}
button#exportbtn
{
    margin-left: 10px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}



