<div class="container-fluid">
    <!-- Begin of head-->
    <div class="head-principal">
    <div class="row head">
    
        <div class="section-title"> 
           <span>Scrap Orders</span>
        </div> 
  
        <div class="input-group">
               <input type="text" id="barderecherche" class="form-control" placeholder="Search" name="search">
               <div class="input-group-btn">
                 <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
               </div>
          </div>
        
       </div>
       <div class="row head2">
           <div class="button-group2">
            <div class="dropdown none" id="dropdown-list1" >
              <button (click)="functionShowSousMenu('myDropdown4')" class="dropbtn">
                   Print
                   <i class="glyphicon glyphicon-triangle-bottom icon"></i>
              </button>
              <div id="myDropdown4" class="dropdown-content">
              </div>
            </div>
            <div class="dropdown none" id="dropdown-list2">
              <button (click)="functionShowSousMenu('myDropdown5')" class="dropbtn">
                  Action
                  <i class="glyphicon glyphicon-triangle-bottom icon"></i>
              </button>
              <div id="myDropdown5" class="dropdown-content">
                <a href="#">Export</a>
                <a href="#">Delete</a>
              </div>
          </div>
            <div class="dropdown">
                <button (click)="functionShowSousMenu('myDropdown1')" class="dropbtn">
                    <i class="glyphicon glyphicon-filter"></i>
                    Filters
                    <i class="glyphicon glyphicon-menu-down"></i>
                </button>
                <div id="myDropdown1" class="dropdown-content">
                  <a href="#">Add Custom Filter</a>
              
                </div>
            </div>
            <div class="dropdown">
                <button (click)="functionShowSousMenu('myDropdown2')" class="dropbtn">
                    <i class="glyphicon glyphicon-tasks"></i>
                    Group By
                    <i class="glyphicon glyphicon-menu-down"></i>
                </button>
                <div id="myDropdown2" class="dropdown-content">
                  <a href="#">Product</a>
                  <a href="#">Add Custom Group</a>
                </div>
            </div>
            <div class="dropdown">
                <button (click)="functionShowSousMenu('myDropdown3')" class="dropbtn">
                    <i class="glyphicon glyphicon-star"></i>
                    Favorites
                    <i class="glyphicon glyphicon-menu-down"></i>
                </button>
                <div id="myDropdown3" class="dropdown-content">
                  <a href="#">Save Current Search</a>
                </div>
            </div>
      
                <button id="btnCompView" class="btn btn-default" (click)="Activer('btnCompView','btnlistview')" (click)="Openview('divCompView','divlistview')">
                    <i class="glyphicon glyphicon-th-large"></i> 
                </button>
                <button  id="btnlistview" class="btn btn-default active" (click)="Activer('btnlistview','btnCompView')" (click)="Openview('divlistview','divCompView')">
                  <i class="glyphicon glyphicon-th-list"></i> 
              </button>                     
           </div>
              <button class="button-create" (click)="functionCreateScrap()">Create</button>
              <button  class="btn btn-default">Import</button>
              <button id="exportbtn" class="btn btn-default ">
                  <span class="glyphicon glyphicon-download-alt"></span>
              </button>
          </div>
        </div>
       <!-- End of head-->
       <!--Maiiiiiiiiiiiiiin-->
       <div class="main">
          <div id="divlistview">
            <table class="table-transfers table-hover" id="div-table">
              <thead >
                <tr id="table-header">
                 <th class="input-cel">
                  <input type="checkbox" id="checkbox-principal" (click)="FunctionCheckBox('checkbox','checkbox-principal')">
                 </th>
                 <th class="table-header-body">
                   Reference
                 </th>
                 <th class="table-header-body">
                  Date Done
                </th>
                <th class="table-header-body">
                  Product
                 </th>
                 <th class="table-header-body">
                  Quantity
                 </th>
                <th class="table-header-body">
                  Status
                </th>
                </tr> 
              </thead>
              <tbody>
                <tr *ngFor = 'let item of items5'>
                  <td class="input-cel">
                    <input type="checkbox" class="checkbox" (click)="FunctionCheckBox2()">
                  </td>
                  <td>{{item.sr}}</td>
                  <td>{{item.datedone}}</td>
                  <td>{{item.pid}}</td>
                  <td>{{item.sqty}}</td>
                  <td>{{item.status}}</td>            
                </tr>
               
              </tbody>
            </table>
          </div>
          <div id="divCompView" class="cards">
            <div class="inside row">

                <div class="col-md-4" *ngFor = 'let item of items5' >
                  <div class="top">
                   <span class="title-col">{{item.sr}}</span>
                   <span class="time-col">
                    <i class="glyphicon glyphicon-time"></i>
                    {{item.datedone}}
                    </span>
                    <span class="product-name">Quantity :</span>
                  </div>
                  <div class="bottom">
                    <span id="qty">{{item.sqty}}</span>
                    <span class="button-col"><button>{{item.status}}</button></span> 
                   </div>
                </div>
                
         
              </div>
       </div>
       <!--End Maiiiiiiiiiiiiiiiiinn-->
  </div>