/* Begin style de head*/
.section-title
{
    float: left;
    color: #2a3f5a;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 20px;
}

/* End style de head*/

/*
head2 begin
*/
.head{
    padding-left: 15px;
  
}
.head2
{
    margin-top: 5px;
    margin-bottom: 10px;
     padding-right: 0px;
     padding-left: 15px;

}
.head-principal
{
    position: fixed;
    background-color: #fff;
    border-bottom: 1px solid #ddccdd;
    width: 86%;
    display: block;
    padding-right: 20px;
    z-index: 5;
}
.container-fluid {
      padding-right: 0px !important;
      padding-left: 0px !important;

}


/*
head2 end
*/
.row
{  
    margin-right: 0px !important;
    margin-left: 0px !important;    
}

.main
{
    margin-top: 150px;
     overflow: hidden;
}
@media (max-width:428px)
{

.head2
{
     padding-right: 0px;
}

}
@media (max-width:650px)
{
.head2
{
    padding-right: 0px;
}

.section-title
{
 display: block;
 padding-left: 10px;
 width: 100%;
}
.main
{
    margin-top: 150px;
   
}
}
@media (max-width:950px)
{
    .row
    {
        
        margin-right: 0px !important;
        margin-left: 0px !important;     
        
    }
   
   
}
@media (max-width:960px)
{
   .head-principal
   {
       width: 100%;
       padding-right: 0px;
   }
   .head{
    padding-right: 20px;
   }
}

@media (max-width:977px)
{
   .head
   {
       padding-right: 50px;
   }
}
@media only screen and (max-width: 1200px) {
    .head
    {
        padding-right: 20px;
    }
}
/*------------------------------------------------------------------------*/

.button-group1
{
    float: left;
    
}
button.save
{
    background-color:#007bff;
    padding: 8px;
    margin-right: 10px;
    font-size: 15px;
    border: none;
    color: white;
    border-radius: 4px;
}
button.StartINV
{
    background-color:#007bff;
    padding: 8px;
    margin-right: 10px;
    width: 130px;
    font-size: 15px;
    border: none;
    color: white;
    border-radius: 4px;
}
.btn-default
{
    margin-right: 5px;
}
.button2:hover{
    color: #4c4c4c;
    background-color: #e6e6e6;
    border-color: #adadad;
}

@media (max-width:650px)
{

.button-group1
{
    
    padding-left: 10px;
    margin-top: 10px;
}

}

.head3
{
    border-top:1px solid #dcdcdc;
    padding-left: -10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    width: 100%;
    background-color:#d2d2ff;
}

.button-group2
{
   
    float: left;
   
}
.comp-right
{
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
}
.item
{
    width: 17px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    margin-left: -5px;

}
/*-------------------------------------------------------------------------------------*/

.principal,.principal2
{
    display: block;
    margin-left: 25px;
    background-color: white;
    width: 1041px;
    margin-bottom: 50px;
    margin-top: 70px;
    border-radius:5px;
    font-size:13px;
    font-weight:bold;
    border: solid 1px #888888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
    padding-bottom: 20px;
}
.main
{
    overflow:hidden;
    width: 1080px;
}
.inside1-header
{
    margin-bottom: 20px;
}
.inside1-header label
{
   font-size: 15px;
}
.inside1-header label input
{
  display: block;
  width:400px;
  margin-top: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 5px 5px;
  background-color:#d2d2ff;
  font-weight: 500;
  font-size: 20px;
  color: #2a3f5a;
}

.inside1
{
    padding: 30px 15px;
}
.inside1 tr td
{
    padding-bottom: 5px;
}
.inside1 tr  td.label-tab
{
    border-right: 1px solid #dcdcdc;
    font-weight: 500;
    font-size: 15px;
}
.inside1 tr  td .input-tab
{
    border-radius: 3px;
    border: 1px solid #ccc;
}
table
{
    width: 100%;
}
tr
{
    width: 100%;
}
.inside1 tr  td
{
    width: 25%;
}
.inside1 tr  td.input-tab-td
{
    padding-left: 8px;
    padding-right: 15px;
} 
.inside1 tr td.input-tab-td .input-tab input
{
    width: 200px;
    border: none;
    padding: 3px 4px;
    font-weight: 400;
}
.inside1 tr td.input-tab-td div label
{
    font-weight: 400;
}
.inside1 tr td.input-tab-td div label input
{
    margin-right: 10px;
    margin-top: 5px;
}
.inside1 tr  td.input-tab-td .input-tab i

{

    font-size: 8px;
    float: right;
    margin-top: 8px;
    margin-right: 5px;
} 
select#select{
    width:300px;
    height:25px;
    font-size:10px;
    background-color:#d2d2ff;
}


/*----------------------------------------------------------------------*/

.dropdown-content1{

    display: none;

    position: absolute;

    background-color: #FFF !important;

    min-width: 225px;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    z-index: 1;


  }

.dropdown-content2{

    display: none;

    position: absolute;

    background-color: #FFF !important;

    min-width: 320px;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    z-index: 1;


  }
   .dropdown-content1 a {

    color: black;

    padding: 5px 16px;

    text-decoration: none;

    display: block;
    font-weight: 400;
    font-size: 12px;

  }

  

  /* Change color of dropdown links on hover */

  .dropdown-content1 a:hover,.dropdown-content2 a:hover{background-color: #007bff; color: white;}

/*----------------------------------------------------------------------*/

/* Begin style de head*/
.section-title
{
    float: left;
    color: #2a3f5a;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 20px;
}

/* End style de head*/

/*
head2 begin
*/
.head{
    padding-left: 15px;
  
}
.head2
{
    margin-top: 5px;
    margin-bottom: 10px;
     padding-right: 0px;
     padding-left: 15px;

}
.head-principal
{
    position: fixed;
    background-color: #fff;
    border-bottom: 1px solid #ddccdd;
    width: 86%;
    display: block;
    padding-right: 20px;
    z-index: 5;
}
.container-fluid {
      padding-right: 0px !important;
      padding-left: 0px !important;

}


/*
head2 end
*/
.row
{  
    margin-right: 0px !important;
    margin-left: 0px !important;    
}

.main
{
    margin-top: 150px;
     overflow: hidden;
}
@media (max-width:428px)
{

.head2
{
     padding-right: 0px;
}

}
@media (max-width:650px)
{
.head2
{
    padding-right: 0px;
}

.section-title
{
 display: block;
 padding-left: 10px;
 width: 100%;
}
.main
{
    margin-top: 150px;
   
}
}
@media (max-width:950px)
{
    .row
    {
        
        margin-right: 0px !important;
        margin-left: 0px !important;     
        
    }
   
   
}
@media (max-width:960px)
{
   .head-principal
   {
       width: 100%;
       padding-right: 0px;
   }
   .head{
    padding-right: 20px;
   }
}

@media (max-width:977px)
{
   .head
   {
       padding-right: 50px;
   }
}
@media only screen and (max-width: 1200px) {
    .head
    {
        padding-right: 20px;
    }
}
/*------------------------------------------------------------------------*/

.button-group1
{
    float: left;
    
}
button.save
{
    background-color:#007bff;
    padding: 8px;
    margin-right: 10px;
    font-size: 15px;
    border: none;
    color: white;
    border-radius: 4px;
}
button.StartINV
{
    background-color:#007bff;
    padding: 8px;
    margin-right: 10px;
    width: 130px;
    font-size: 15px;
    border: none;
    color: white;
    border-radius: 4px;
}
.btn-default
{
    margin-right: 5px;
}
.button2:hover{
    color: #4c4c4c;
    background-color: #e6e6e6;
    border-color: #adadad;
}

@media (max-width:650px)
{

.button-group1
{
    
    padding-left: 10px;
    margin-top: 10px;
}

}

.head3
{
    border-top:1px solid #dcdcdc;
    padding-left: -10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    width: 100%;
    background-color:#d2d2ff;
}

.button-group2
{
   
    float: left;
   
}
.comp-right
{
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
}
.item
{
    width: 17px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    margin-left: -5px;

}
/*-------------------------------------------------------------------------------------*/

.principal
{
    display: block;
    margin-left: 25px;
    background-color: white;
    width: 1041px;
    margin-bottom: 50px;
    margin-top: 70px;
    border-radius:5px;
    font-size:13px;
    font-weight:bold;
    border: solid 1px #888888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
    
}
.main
{
    overflow:hidden;
    width: 1080px;
}
.inside1-header
{
    margin-bottom: 20px;
}
.inside1-header label
{
   font-size: 15px;
}
.inside1-header label input
{
  display: block;
  width:400px;
  margin-top: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 5px 5px;
  background-color:#d2d2ff;
  font-weight: 500;
  font-size: 20px;
  color: #2a3f5a;
}

.inside1
{
    padding: 30px 15px;
}
.inside1 tr td
{
    padding-bottom: 5px;
}
.inside1 tr  td.label-tab
{
    border-right: 1px solid #dcdcdc;
    font-weight: 500;
    font-size: 15px;
}
.inside1 tr  td .input-tab
{
    border-radius: 3px;
    border: 1px solid #ccc;
}
table
{
    width: 100%;
}
tr
{
    width: 100%;
}
.inside1 tr  td
{
    width: 25%;
}
.inside1 tr  td.input-tab-td
{
    padding-left: 8px;
    padding-right: 15px;
} 
.inside1 tr td.input-tab-td .input-tab input
{
    width: 200px;
    border: none;
    padding: 3px 4px;
    font-weight: 400;
}
.inside1 tr td.input-tab-td div label
{
    font-weight: 400;
}
.inside1 tr td.input-tab-td div label input
{
    margin-right: 10px;
    margin-top: 5px;
}
.inside1 tr  td.input-tab-td .input-tab i

{

    font-size: 8px;
    float: right;
    margin-top: 8px;
    margin-right: 5px;
} 
select#select{
    width:300px;
    height:25px;
    font-size:10px;
    background-color:#d2d2ff;
}


/*----------------------------------------------------------------------*/

.dropdown-content1{

    display: none;

    position: absolute;

    background-color: #FFF !important;

    min-width: 225px;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    z-index: 1;


  }

.dropdown-content2{

    display: none;

    position: absolute;

    background-color: #FFF !important;

    min-width: 320px;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    z-index: 1;


  }
   .dropdown-content1 a {

    color: black;

    padding: 5px 16px;

    text-decoration: none;

    display: block;
    font-weight: 400;
    font-size: 12px;

  }

  

  /* Change color of dropdown links on hover */

  .dropdown-content1 a:hover,.dropdown-content2 a:hover{background-color: #007bff; color: white;}

/*----------------------------------------------------------------------*/

.none
{
    display: none;
}
#div1
{
    display: none;
}