
<div class="container-fluid">
    <!-- Begin of head-->
    <div class="head-principal">
    <div class="row head">
    
        <div class="section-title">
           <span>OverView / {{nameOperation}}</span>
        </div>
           <div class="input-group">
               <input type="text" class="form-control" placeholder="Search" name="search" >
               <div class="input-group-btn">
                 <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
               </div>
          </div>
          
       </div>
       <div class="row head2">
           <div class="button-group2">
            <div class="dropdown none" id="dropdown-list2">
              <button (click)="FunctionOpenSousMenu('myDropdown5')" class="dropbtn">
                  Action
                  <i class="glyphicon glyphicon-triangle-bottom icon"></i>
              </button>
              <div id="myDropdown5" class="dropdown-content">
                <a href="#">Export</a>
                <a href="#">Delete</a>
              </div>
          </div>
            <div class="dropdown">
                <button (click)="FunctionOpenSousMenu('myDropdown1')" class="dropbtn">
                    <i class="glyphicon glyphicon-filter"></i>
                    Filters
                    <i class="glyphicon glyphicon-triangle-bottom icon"></i>
                </button>
                <div id="myDropdown1" class="dropdown-content">
                  <table>
                    <tr> 
                     <a (click)="filtreFunction('draft')">Draft</a>
                     <a (click)="filtreFunction('done')">Done</a> 
                     <a (click)="filtreFunction('waiting')">Waiting</a>
                    <a (click)="filtreFunction('ready')">Ready</a></tr>
                    <tr>
                  </table>
                </div>
            </div>
            <div class="dropdown">
                <button (click)="FunctionOpenSousMenu('myDropdown2')" class="dropbtn">
                    <i class="glyphicon glyphicon-tasks"></i>
                    Group By
                    <i class="glyphicon glyphicon-triangle-bottom icon"></i>
                </button>
                <div id="myDropdown2" class="dropdown-content">
                  <a  (click)="functionGroupByStatus()">Status</a>
                </div>
            </div>
            <div class="dropdown">
                <button (click)="FunctionOpenSousMenu('myDropdown3')" class="dropbtn">
                    <i class="glyphicon glyphicon-star"></i>
                    Favorites
                    <i class="glyphicon glyphicon-triangle-bottom icon"></i>
                </button>
                <div id="myDropdown3" class="dropdown-content">
                  <a href="#">Save Current Search</a>
                </div>
            </div>

            <button (click)="FunctionMoveFromTableToCards('btn2kanban','btn1list','cards','table')"   id="btn2kanban" class="btn btn-default">
                <i class="glyphicon glyphicon-th-large"></i>
               </button>
            <button (click)="FunctionMoveFromTableToCards('btn1list','btn2kanban','table','cards')"  id="btn1list" class="btn btn-default active">
               <i class="glyphicon glyphicon-th-list"></i>
              </button>
            
            
          </div>
        
           <button (click)="FunctionClickedInButtonReceipts('create-receipt')" class="button-create">Create</button>
           <button class="btn btn-default">Import</button>
           <button id="exportbtn" class="btn btn-default ">
            <span class="glyphicon glyphicon-download-alt"></span>
           </button>
        

          </div>
    </div>
       <!-- End of head-->
       <div class="main">
         <div id="table">
         <table id ="tablereceipts" class="table table-hover">
           <tr class="table-header">
            <td><input type="checkbox" id="checkbox-principal" (click)="FunctionCheckBox('checkbox-principal','checkbox')"></td>
            <td>Reference</td>
            <td>Contact</td>
            <td>Scheduled Date</td>
            <td>Sources Document</td>
            <td>Status</td>
            <td>Company</td>
           </tr>
           <tbody class="table-body">
            <tr *ngFor="let item of tableau1" [ngClass]="(item.status)+'row'" 
            (click)="functionGoToDetails(item.name)"> 
            <td><input type="checkbox" class="checkbox" (click)="FunctionCheckBox2('checkbox')" ></td>
            <td>{{item.name}}</td>
            <td>{{item.partner}}</td>
            <td>{{item.date}}</td>
            <td>{{item.document}}</td>
            <td >{{item.status}}</td>
            <td>{{item.company}}</td>
            </tr>   
           </tbody>
         </table>
        </div>
        <div class="create-new" id="create-new">
          <img class="create-new-img" src="assets/file.jpg">
          <span class="create-new-title">Create a new transfer</span>
          <span class="create-new-text">Transfers allow you to move products from one location to another.</span>
        </div>
        <div id="cards" class="cards">
          <div class="inside row">
              <div class="col-md-4" *ngFor="let item of tableau1" (click)="functionGoToDetails(item.name)">
                <div class="left">
                 <span class="text1">{{item.name}}</span>
                 <span class="text2">{{item.partner}}<i class="glyphicon glyphicon-time"></i></span>
                </div>
                <div class="right">
                  <span class="text1"><button 
                    [ngClass]="(item.status)+'button'">
                    {{item.status}}</button></span>
                  <span class="text2">{{item.date}}</span>
                 </div>
              </div>   
            </div>
        </div>
        <div id="table-group1">
          <table id ="tablereceipts-group1" class="table table-hover">
            <tr class="table-header-group1">
             <td><input type="checkbox" id="checkbox-principal2" (click)="FunctionCheckBox('checkbox-principal2','checkbox2')"></td>
             <td class="cellule-content">Reference</td>
             <td class="cellule-content">Contact</td>
             <td class="cellule-content">Scheduled Date</td>
             <td class="cellule-content">Sources Document</td>
             <td class="cellule-content">Status</td>
             <td class="cellule-content">Company</td>
            </tr>
          </table>
            <div *ngFor="let item2 of tabStatus;let i= index;">
              <div class="row-status" (click)="functionShowtable(item2.status,i)">{{item2.status}} ({{item2.count}})
                <i class="glyphicon glyphicon-triangle-bottom icon" id={{item2.status}}{{i}} >
                </i></div>
              <div id={{item2.status}}>
              <table class="table table-hover">
                <tbody class="table-body-group1" >
                 <tr *ngFor="let item of tableau2" [ngClass]="(item.status)+'row'"> 
                 <td *ngIf="(item.status == item2.status)"><input type="checkbox" class="checkbox2" (click)="FunctionCheckBox2('checkbox2')"></td>
                 <td class="cellule-content" *ngIf="(item.status == item2.status)">{{item.name}}</td>
                 <td class="cellule-content" *ngIf="(item.status == item2.status)">{{item.partner}}</td>
                 <td class="cellule-content" *ngIf="(item.status == item2.status)">{{item.date}}</td>
                 <td class="cellule-content" *ngIf="(item.status == item2.status)">{{item.document}}</td>
                 <td class="cellule-content" *ngIf="(item.status == item2.status)">{{item.status}}</td>
                 <td class="cellule-content" *ngIf="(item.status == item2.status)">{{item.company}}</td>
                 </tr>   
                </tbody>
              </table>
            </div>
            </div>
        
         </div>
       </div>
</div>