
<div class="container-fluid">
    <!-- Begin of head-->
    <div class="head-principal">
    <div class="row head">
    
        <div class="section-title">
           <span>OverView / {{nameOperation}}</span>
        </div>
           <div class="input-group">
               <input type="text" class="form-control" placeholder="Search" name="search">
               <div class="input-group-btn">
                 <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
               </div>
          </div>
          
       </div>
       <div class="row head2">
           <div class="button-group2">
            <div class="dropdown none" id="dropdown-list1" >
              <button (click)="FunctionOpenSousMenu('myDropdown4')" class="dropbtn">
                   Print
                   <i class="glyphicon glyphicon-triangle-bottom icon"></i>
              </button>
              <div id="myDropdown4" class="dropdown-content">
                <a href="#">Archived</a>
                <a href="#">Add Custom Filter</a>
                <a href="#">Link 3</a>
              </div>
          </div>
            <div class="dropdown none" id="dropdown-list2">
              <button (click)="FunctionOpenSousMenu('myDropdown5')" class="dropbtn">
                  Action
                  <i class="glyphicon glyphicon-triangle-bottom icon"></i>
              </button>
              <div id="myDropdown5" class="dropdown-content">
                <a href="#">Archived</a>
                <a href="#">Add Custom Filter</a>
                <a href="#">Link 3</a>
              </div>
          </div>
            <div class="dropdown">
                <button (click)="FunctionOpenSousMenu('myDropdown1')" class="dropbtn">
                    <i class="glyphicon glyphicon-filter"></i>
                    Filters
                    <i class="glyphicon glyphicon-triangle-bottom icon"></i>
                </button>
                <div id="myDropdown1" class="dropdown-content">
                  <a href="#">Archived</a>
                  <a href="#">Add Custom Filter</a>
                  <a href="#">Link 3</a>
                </div>
            </div>
            <div class="dropdown">
                <button (click)="FunctionOpenSousMenu('myDropdown2')" class="dropbtn">
                    <i class="glyphicon glyphicon-tasks"></i>
                    Group By
                    <i class="glyphicon glyphicon-triangle-bottom icon"></i>
                </button>
                <div id="myDropdown2" class="dropdown-content">
                  <a href="#">Type of Operation</a>
                  <a href="#">Warehouse</a>
                  <a href="#">Add Custom Group</a>
                </div>
            </div>
            <div class="dropdown">
                <button (click)="FunctionOpenSousMenu('myDropdown3')" class="dropbtn">
                    <i class="glyphicon glyphicon-star"></i>
                    Favorites
                    <i class="glyphicon glyphicon-triangle-bottom icon"></i>
                </button>
                <div id="myDropdown3" class="dropdown-content">
                  <a href="#">Save Current Search</a>
                </div>
            </div>

            <button (click)="FunctionMoveFromTableToCards('btn2kanban','btn1list','cards','table')"   id="btn2kanban" class="btn btn-default">
                <i class="glyphicon glyphicon-th-large"></i>
               </button>
            <button (click)="FunctionMoveFromTableToCards('btn1list','btn2kanban','table','cards')"  id="btn1list" class="btn btn-default active">
               <i class="glyphicon glyphicon-th-list"></i>
              </button>
            
            
          </div>
        
           <button (click)="FunctionClickedInButtonReceipts('create-receipt')" class="button-create">Create</button>
           <button class="btn btn-default">Import</button>
           <button id="exportbtn" class="btn btn-default ">
            <span class="glyphicon glyphicon-download-alt"></span>
           </button>
        

          </div>
    </div>
       <!-- End of head-->
       <div class="main">
         <span class="section-title2">{{fromOperation}}</span>
         <div id="table">
         <table id ="tablereceipts" class="table table-hover">
           <tr class="table-header">
            <td><input type="checkbox" id="checkbox-principal" (click)="FunctionCheckBox('checkbox','checkbox-principal')"></td>
            <td>Reference</td>
            <td>Contact</td>
            <td>Scheduled Date</td>
            <td>Sources Document</td>
            <td>Status</td>
            <td>Company</td>
           </tr>
           <tbody class="table-body">
            <tr>
            <td><input type="checkbox" class="checkbox" (click)="FunctionCheckBox2()" ></td>
            <td>Reference</td>
            <td>Contact</td>
            <td>Scheduled Date</td>
            <td>Sources Document</td>
            <td>Status</td>
            <td>Company</td>
            </tr>   
            <tr>
              <td><input type="checkbox" class="checkbox"(click)="FunctionCheckBox2()" ></td>
              <td>Reference</td>
              <td>Contact</td>
              <td>Scheduled Date</td>
              <td>Sources Document</td>
              <td>Status</td>
              <td>Company</td>
              </tr>  
           </tbody>
         </table>
        </div>
        <div id="cards" class="cards">
          <div class="inside row">
              <div class="col-md-4">
                <div class="left">
                 <span class="text1">WH/IN/0002</span>
                 <span class="text2">Wood Corner<i class="glyphicon glyphicon-time"></i></span>
                </div>
                <div class="right">
                  <span class="text1"><button>Ready</button></span>
                  <span class="text2">05/05/2020</span>
                 </div>
              </div>
              <div class="col-md-4">
                <div class="left">
                 <span class="text1">WH/IN/0002</span>
                 <span class="text2">Wood Corner<i class="glyphicon glyphicon-time"></i></span>
                </div>
                <div class="right">
                  <span class="text1"><button>Ready</button></span>
                  <span class="text2">05/05/2020</span>
                 </div>
              </div>
              <div class="col-md-4">
                <div class="left">
                 <span class="text1">WH/IN/0002</span>
                 <span class="text2">Wood Corner<i class="glyphicon glyphicon-time"></i></span>
                </div>
                <div class="right">
                  <span class="text1"><button>Ready</button></span>
                  <span class="text2">05/05/2020</span>
                 </div>
              </div>
              <div class="col-md-4">
                <div class="left">
                 <span class="text1">WH/IN/0002</span>
                 <span class="text2">Wood Corner<i class="glyphicon glyphicon-time"></i></span>
                </div>
                <div class="right">
                  <span class="text1"><button>Ready</button></span>
                  <span class="text2">05/05/2020</span>
                 </div>
              </div>
            </div>
        </div>
       </div>
</div>