<!DOCTYPE html>
<html lang="en">
<head>
  <title>Products table</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="navbarrules">

    <button type="button" class="btn">Back to Product Categories
        </button>
    <button type="button" class="btn btn-default">Discard</button>
    <div class="div-1-2">
        <button type="button" class="savecategory">Save</button>
    </div> 
    </div>
    <div class="div-2">
            <p>Category name</p>
            <input class="form-control" id="form-control1" type="text"  placeholder="E.G.Lamps" /><br>
            <p>Parent Category</p>
            <select class="form-control" id="select">
                    <option>All</option>
                
            </select><br>
            <p id="logi">Logistics</p><br>
             <p>Force Removal Strategy</p>
            <select class="form-control" id="select">
                    <option>First In First Out (FIFO)</option>
                    <option>Last In First Out (LIFO)</option>
                
            </select><br>

    </div>
         
           
      </body>
      </html>