<!DOCTYPE html>
<html lang="en">
<head>
  <title>Products table</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body> 

    <div class="navbarrules">

    <button type="button" class="btn">Back to Product Categories
        </button>
    <button type="button" class="btn btn-default">Discard</button>
    <div class="div-1-2">
        <button type="button" class="savecategory" (click)="createcategorie()">Save</button>
    </div> 
    </div>
    <div class="div-2">
            <p>Category name</p>
            <input class="form-control" id="form-control1-namecat" type="text"  placeholder="E.G.Lamps" /><br>
            <p>Parent Category</p>
                    <div class="input-tab" >
                        <input type="text" id="categorieinput">
                        <i (click)="FunctionShowOptions('myDropdown2')" class="glyphicon glyphicon-triangle-bottom" > </i>  
                     <div id="myDropdown2" class="dropdown-content1">
                         
                           <table>
                              <tr >
                                   <td>All</td> 
                                   <td>All / Consumable</td>  
                                   <td>All / Expenses</td>  
                                   <td>All / Internal</td>  
                                   <td>All / Saleable</td>  
                                   <td>All / Saleable / Office Furniture</td>   
                                   <td>All / Saleable / Services</td>  
                                   <td>	All / Saleable / Services / Saleable</td>       
                             </tr>
                             </table>
                      </div>               
                     </div>      
                
           
            <p id="logi">Logistics</p><br>
             <p>Force Removal Strategy</p>
            <select class="form-control" id="select">
                    <option>First In First Out (FIFO)</option>
                    <option>Last In First Out (LIFO)</option>
                
            </select><br>

    </div>
         
           
      </body>
      </html>