<div class="container-fluid">

       <!-- Begin of row-->
       <div class="main"> 
        <div class="row body">
             
          <!-- Begin of one composant-->
        <div class="col-xs-4" *ngFor="let item of tableau">
              <div class="menu-top">
                 <span class="header-title" >
                    {{item.name}}
                </span>
              
          </div>
         
         <!-- End of one Composant-->
         
         

  </div><!--End of main-->
       </div><!----End of row-->
 
</div>
