<div class="container-fluid">
  <!-- Begin of head-->
  <div class="head-principal">
  <div class="row head">
  
      <div class="section-title">
         <span>Inventory Adjustments</span>
      </div>

      <div class="input-group">
             <input type="text" id="barderecherche" class="form-control" placeholder="Search" name="search">
             <div class="input-group-btn">
               <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
             </div>
        </div>
      
     </div>
     <div class="row head2">
         <div class="button-group2">
          <div class="dropdown none" id="dropdown-list1" >
            <button (click)="functionShowSousMenu('myDropdown4')" class="dropbtn">
                 Print
                 <i class="glyphicon glyphicon-triangle-bottom icon"></i>
            </button>
            <div id="myDropdown4" class="dropdown-content">
              <a href="#">Inventory Adjustments</a>
       
            </div>
          </div>
          <div class="dropdown none" id="dropdown-list2">
            <button (click)="functionShowSousMenu('myDropdown5')" class="dropbtn">
                Action
                <i class="glyphicon glyphicon-triangle-bottom icon"></i>
            </button>
            <div id="myDropdown5" class="dropdown-content">
              <a href="#">Delete</a>
            
            </div>
        </div>
          <div class="dropdown">
              <button (click)="functionShowSousMenu('myDropdown1')" class="dropbtn">
                  <i class="glyphicon glyphicon-filter"></i>
                  Filters
                  <i class="glyphicon glyphicon-menu-down"></i>
              </button>
              <div id="myDropdown1" class="dropdown-content">
                  <table>
                      <tr> <a href="#">Draft</a>
                       <a href="#">In progress</a> 
                       <a href="#">Validated</a>
                     </tr>
                      <tr>
                        <td><p>Inventory Date</p></td>
                        <td id="icontd"><i class="glyphicon glyphicon-play" (click)="functionShowSousMenu('datemenu')"></i></td>
                      </tr>
                      <tr> <a href="#">Add Custom Filter</a></tr>
                    </table>
                    <!-- <div id="datemenu" class="dropdown-content">
                        <table>
                          <tr>
                            <a>2020</a>
                            <a>2019</a>
                            <a>2018</a>
                          </tr>
                          <tr>
                            <a>June</a>
                           <a>May</a>
                           <a>April</a>
                         </tr>
                         <tr> <a href="#">Add Custom Date</a></tr>
                        </table>
                     </div> -->
              </div>

          </div>
          <div class="dropdown">
              <button (click)="functionShowSousMenu('myDropdown2')" class="dropbtn">
                  <i class="glyphicon glyphicon-tasks"></i>
                  Group By
                  <i class="glyphicon glyphicon-menu-down"></i>
              </button>
              <div id="myDropdown2" class="dropdown-content">
                  <table>
                      <tr> <a href="#">Status</a></tr>
                      <tr> <a href="#">Add Custom Group</a></tr>
                   </table>
              </div>
          </div>
          <div class="dropdown">
              <button (click)="functionShowSousMenu('myDropdown3')" class="dropbtn">
                  <i class="glyphicon glyphicon-star"></i>
                  Favorites
                  <i class="glyphicon glyphicon-menu-down"></i>
              </button>
              <div id="myDropdown3" class="dropdown-content">
                <a href="#">Save Current Search</a>
              </div>
          </div>
    
              <button id="btnCompView" class="btn btn-default" (click)="Activer('btnCompView','btnlistview')" (click)="Openview('divCompView','divlistview')">
                  <i class="glyphicon glyphicon-th-large"></i> 
              </button>
              <button  id="btnlistview" class="btn btn-default active" (click)="Activer('btnlistview','btnCompView')" (click)="Openview('divlistview','divCompView')">
                <i class="glyphicon glyphicon-th-list"></i> 
            </button>                     
         </div>
            <button class="button-create" (click)="functionCreateInAdj()">Create</button>
            <button  class="btn btn-default">Import</button>
            <button id="exportbtn" class="btn btn-default ">
                <span class="glyphicon glyphicon-download-alt"></span>
            </button>
        </div>
      </div>
     <!-- End of head-->
     <!--Maiiiiiiiiiiiiiin-->
     <div class="main">
        <div id="divlistview">
          <table class="table-transfers table-hover" id="div-table">
            <thead >
              <tr id="table-header">
               <th class="input-cel">
                <input type="checkbox" id="checkbox-principal" (click)="FunctionCheckBox('checkbox','checkbox-principal')">
               </th>
               <th class="table-header-body">
                 Reference
               </th>
               <th class="table-header-body">
                Inventory Date
              </th>
              <th class="table-header-body">
                Status
              </th>
              <th class="table-header-body">
                  Company 
                </th>
               <th class="icon-cel dropdown">
                <i class="glyphicon glyphicon-option-vertical" (click)="functionShowSousMenu('dropdownmenutable')"></i>
                <div id="dropdownmenutable" class="dropdown-content">
                  <div>
                    <input type="checkbox" id="check-menu" (click)="addAllCellul(3,'Product')">Product
                  </div>
                </div>
              </th>
              </tr> 
            </thead>

            <tbody>
              <tr *ngFor = 'let item of items4'>
                <td class="input-cel">
                  <input type="checkbox" class="checkbox" (click)="FunctionCheckBox2()">
                </td>
                <td>{{item.iv}}</td>
                <td>{{item.date}}</td>
                <td>{{item.status}}</td>
                <td>{{item.ci}}</td>
                  
                  <td></td>
              </tr>
            </tbody>
          </table>
        </div>


        <div id="divCompView" class="cards">
          <div class="inside row">
              <div class="col-md-4" *ngFor = 'let item of items4'>
                <div class="top">
                 <span class="title-col">{{item.iv}}</span>
                 <span class="button-col"><button>{{item.status}}</button></span> 
                </div>
                <div class="bottom">
                  <span class="time-col">
                    <i class="glyphicon glyphicon-time"></i>
                    {{item.date}} 
                    </span>
                 </div>
              </div>
              
       
            </div>
     </div>
     <!--End Maiiiiiiiiiiiiiiiiinn-->
</div>