<div class="container-fluid">
  <!-- Begin of head-->
  <div class="head-principal">
  <div class="row head">
  
      <div class="section-title">
         <span>Inventory Adjustments</span>
      </div>

      <div class="input-group">
             <input type="text" id="barderecherche" class="form-control" placeholder="Search" name="search">
             <div class="input-group-btn">
               <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
             </div>
        </div>
      
     </div>
     <div class="row head2">
         <div class="button-group2">
          <div class="dropdown none" id="dropdown-list1" >
            <button (click)="functionShowSousMenu('myDropdown4')" class="dropbtn">
                 Print
                 <i class="glyphicon glyphicon-triangle-bottom icon"></i>
            </button>
            <div id="myDropdown4" class="dropdown-content">
              <a href="#">Archived</a>
              <a href="#">Add Custom Filter</a>
            </div>
          </div>
          <div class="dropdown none" id="dropdown-list2">
            <button (click)="functionShowSousMenu('myDropdown5')" class="dropbtn">
                Action
                <i class="glyphicon glyphicon-triangle-bottom icon"></i>
            </button>
            <div id="myDropdown5" class="dropdown-content">
              <a href="#">Archived</a>
              <a href="#">Add Custom Filter</a>
              <a href="#">Link 3</a>
            </div>
        </div>
          <div class="dropdown">
              <button (click)="functionShowSousMenu('myDropdown1')" class="dropbtn">
                  <i class="glyphicon glyphicon-filter"></i>
                  Filters
                  <i class="glyphicon glyphicon-menu-down"></i>
              </button>
              <div id="myDropdown1" class="dropdown-content">
                <a href="#">Archived</a>
                <a href="#">Add Custom Filter</a>
                <a href="#">Link 3</a>
              </div>
          </div>
          <div class="dropdown">
              <button (click)="functionShowSousMenu('myDropdown2')" class="dropbtn">
                  <i class="glyphicon glyphicon-tasks"></i>
                  Group By
                  <i class="glyphicon glyphicon-menu-down"></i>
              </button>
              <div id="myDropdown2" class="dropdown-content">
                <a href="#">Type of Operation</a>
                <a href="#">Warehouse</a>
                <a href="#">Add Custom Group</a>
              </div>
          </div>
          <div class="dropdown">
              <button (click)="functionShowSousMenu('myDropdown3')" class="dropbtn">
                  <i class="glyphicon glyphicon-star"></i>
                  Favorites
                  <i class="glyphicon glyphicon-menu-down"></i>
              </button>
              <div id="myDropdown3" class="dropdown-content">
                <a href="#">Save Current Search</a>
              </div>
          </div>
    
              <button id="btnCompView" class="btn btn-default" (click)="Activer('btnCompView','btnlistview')" (click)="Openview('divCompView','divlistview')">
                  <i class="glyphicon glyphicon-th-large"></i> 
              </button>
              <button  id="btnlistview" class="btn btn-default active" (click)="Activer('btnlistview','btnCompView')" (click)="Openview('divlistview','divCompView')">
                <i class="glyphicon glyphicon-th-list"></i> 
            </button>                     
         </div>
            <button class="button-create" (click)="functionCreateInAdj()">Create</button>
            <button  class="btn btn-default">Import</button>
            <button id="exportbtn" class="btn btn-default ">
                <span class="glyphicon glyphicon-download-alt"></span>
            </button>
        </div>
      </div>
     <!-- End of head-->
     <!--Maiiiiiiiiiiiiiin-->
     <div class="main">
        <div id="divlistview">
          <table class="table-transfers table-hover" id="div-table">
            <thead >
              <tr id="table-header">
               <th class="input-cel">
                <input type="checkbox" id="checkbox-principal" (click)="FunctionCheckBox('checkbox','checkbox-principal')">
               </th>
               <th class="table-header-body">
                 Reference
               </th>
               <th class="table-header-body">
                Inventory Date
              </th>
              <th class="table-header-body">
                Status
              </th>
               <th class="icon-cel dropdown">
                <i class="glyphicon glyphicon-option-vertical" (click)="functionShowSousMenu('dropdownmenutable')"></i>
                <div id="dropdownmenutable" class="dropdown-content">
                  <div>
                    <input type="checkbox" id="check-menu" (click)="addAllCellul(3,'Product')">Product
                  </div>
                </div>
              </th>
              </tr> 
            </thead>
            <tbody>
              <tr>
                <td class="input-cel">
                  <input type="checkbox" class="checkbox" (click)="FunctionCheckBox2()">
                </td>
                <td>
                  WH/IN/00001
                </td>
                <td>
                  Date
                </td>
                <td>
                 Status
                </td>
                <td></td>
              </tr>
              <tr>
                <td class="input-cel">
                  <input type="checkbox" class="checkbox" (click)="FunctionCheckBox2()">
                </td>
                <td>
                  WH/IN/00001
                </td>
                <td>
                  Date
                </td>
                <td>
                 Status
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="divCompView" class="cards">
          <div class="inside row">
              <div class="col-md-4">
                <div class="top">
                 <span class="title-col">WH/IN/0002</span>
                 <span class="button-col"><button>Ready</button></span> 
                </div>
                <div class="bottom">
                  <span class="time-col">
                    <i class="glyphicon glyphicon-time"></i>
                    05/12/2020 17:33:40
                    </span>
                 </div>
              </div>
              
       
            </div>
     </div>
     <!--End Maiiiiiiiiiiiiiiiiinn-->
</div>