<div class="container-fluid">
  <!-- Begin of head-->
  <div class="head-principal">
  <div class="row head">
  
      <div class="section-title">
         <span>Inventory Adjustments</span>
      </div>

      <div class="input-group">
             <input type="text" id="barderecherche" class="form-control" placeholder="Search" name="search">
             <div class="input-group-btn">
               <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
             </div>
        </div>
      
     </div>
     <div class="row head2">
         <div class="button-group2">
          <div class="dropdown none" id="dropdown-list2">
            <button (click)="functionShowSousMenu('myDropdown5')" class="dropbtn">
                Action
                <i class="glyphicon glyphicon-triangle-bottom icon"></i>
            </button>
            <div id="myDropdown5" class="dropdown-content">
              <a href="#">Delete</a>
            
            </div>
        </div>
          <div class="dropdown">
              <button (click)="functionShowSousMenu('myDropdown1')" class="dropbtn">
                  <i class="glyphicon glyphicon-filter"></i>
                  Filters
                  <i class="glyphicon glyphicon-menu-down"></i>
              </button>
              <div id="myDropdown1" class="dropdown-content">
                  <table>
                      <tr> <a (click)="filtreFunction('draft')">Draft</a>
                       <a (click)="filtreFunction('done')">Done</a>
                     </tr>
                    </table>
              </div>

          </div>
          <div class="dropdown">
              <button (click)="functionShowSousMenu('myDropdown2')" class="dropbtn">
                  <i class="glyphicon glyphicon-tasks"></i>
                  Group By
                  <i class="glyphicon glyphicon-menu-down"></i>
              </button>
              <div id="myDropdown2" class="dropdown-content">
                  <table>
                      <tr> <a (click)="functionGroupByStatus()">Status</a></tr>
                   </table>
              </div>
          </div>
          <div class="dropdown">
              <button (click)="functionShowSousMenu('myDropdown3')" class="dropbtn">
                  <i class="glyphicon glyphicon-star"></i>
                  Favorites
                  <i class="glyphicon glyphicon-menu-down"></i>
              </button>
              <div id="myDropdown3" class="dropdown-content">
                <a href="#">Save Current Search</a>
              </div>
          </div>
    
              <button id="btnCompView" class="btn btn-default" (click)="Activer('btnCompView','btnlistview')" (click)="Openview('divCompView','divlistview')">
                  <i class="glyphicon glyphicon-th-large"></i> 
              </button>
              <button  id="btnlistview" class="btn btn-default active" (click)="Activer('btnlistview','btnCompView')" (click)="Openview('divlistview','divCompView')">
                <i class="glyphicon glyphicon-th-list"></i> 
            </button>                     
         </div>
            <button class="button-create" (click)="functionCreateInAdj()">Create</button>
            <button  class="btn btn-default">Import</button>
            <button id="exportbtn" class="btn btn-default ">
                <span class="glyphicon glyphicon-download-alt"></span>
            </button>
        </div>
      </div>
     <!-- End of head-->
     <!--Maiiiiiiiiiiiiiin-->
     <div class="main">
        <div id="divlistview">
          <table class="table-transfers table-hover" id="div-table">
            <thead >
              <tr id="table-header">
               <th class="input-cel">
                <input type="checkbox" id="checkbox-principal" (click)="FunctionCheckBox('checkbox1','checkbox-principal')">
               </th>
               <th class="table-header-body">
                 Reference
               </th>
               <th class="table-header-body">
                Inventory Date
              </th>
              <th class="table-header-body">
                Status
              </th>
              <th class="table-header-body">
                  Company 
                </th>
               <th class="icon-cel dropdown">
                <i class="glyphicon glyphicon-option-vertical" (click)="functionShowSousMenu('dropdownmenutable')"></i>
                <div id="dropdownmenutable" class="dropdown-content">
                  <div>
                    <input type="checkbox" id="check-menu" (click)="addAllCellul(3,'Product')">Product
                  </div>
                </div>
              </th>
              </tr> 
            </thead>

            <tbody >
              <tr *ngFor = 'let item of tableau1' (click)="functionGoToDetails(item.iv)">
                <td class="input-cel">
                  <input type="checkbox" class="checkbox1" (click)="FunctionCheckBox2('checkbox1')">
                </td>
                <td>{{item.iv}}</td>
                <td>{{item.date}}</td>
                <td>{{item.status}}</td>
                <td>{{item.ci}}</td>
                  
                  <td></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="create-new" id="create-new">
          <img class="create-new-img" src="assets/file.jpg">
          <span class="create-new-title">Create a new transfer</span>
          <span class="create-new-text">Transfers allow you to move products from one location to another.</span>
        </div>


        <div id="divCompView" class="cards">
          <div class="inside row">
              <div class="col-md-4" *ngFor = 'let item of tableau1'  (click)="functionGoToDetails(item.iv)">
                <div class="top">
                 <span class="title-col">{{item.iv}}</span>
                 <span class="button-col"><button>{{item.status}}</button></span> 
                </div>
                <div class="bottom">
                  <span class="time-col">
                    <i class="glyphicon glyphicon-time"></i>
                    {{item.date}} 
                    </span>
                 </div>
              </div>          
          </div>
     </div>

     <div id="div-group1">
      <table class="table-group1 table-hover" id="div-table">
        <thead >
          <tr class="table-header-group1">
           <th class="input-cel">
            <input type="checkbox" id="checkbox-principal2" (click)="FunctionCheckBox('checkbox2','checkbox-principal2')">
           </th>
           <th class="content" >
             Reference
           </th>
           <th class="content" >
            Inventory Date
          </th>
          <th class="content">
            Status
          </th>
          <th class="content">
              Company 
            </th>
           <th class="content">
             Product
          </th>
          </tr> 
        </thead>
      </table>
      
      <div>
        <div *ngFor="let item2 of tableau_status;let i= index;">
          <div class="row-status" (click)="functionShowtable(item2.status,i)">{{item2.status}} ({{item2.quatity}})
            <i class="glyphicon glyphicon-triangle-bottom icon" id={{item2.status}}{{i}} >
            </i></div>
        <div id={{item2.status}} style="display:none;">
         <table class="table-group1">
        <tbody class="table-body-group1">
          <tr *ngFor = 'let item of tableau2' (click)="functionGoToDetails(item.iv)">
            <td class="input-cel"  *ngIf="(item.status == item2.status)">
              <input type="checkbox" class="checkbox2" (click)="FunctionCheckBox2('checkbox2')">
            </td>
            <td class="content" *ngIf="(item.status == item2.status)">{{item.iv}}</td>
            <td class="content" *ngIf="(item.status == item2.status)">{{item.date}}</td>
            <td  class="content" *ngIf="(item.status == item2.status)">{{item.status}}</td>
            <td  class="content" *ngIf="(item.status == item2.status)">{{item.ci}}</td>
            <td class="content" *ngIf="(item.status == item2.status)">{{item.pid}}</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
    </div>
</div>
<!--End Maiiiiiiiiiiiiiiiiinn-->
</div>
