<div class="container-fluid">
  <!-- Begin of head-->
  <div class="head-principal">
  <div class="row head">
  
      <div class="section-title">
         <span>Products</span>
      </div>

      <div class="input-group">
             <input type="text" id="barderecherche" class="form-control" placeholder="Search" name="search">
             <div class="input-group-btn">
               <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
             </div>
        </div>
      
     </div>
     <div class="row head2">
         <div class="button-group2">
          <div class="dropdown none" id="dropdown-list1" >
            <button (click)="Function2('myDropdown4')" class="dropbtn">
                 Print
                 <i class="glyphicon glyphicon-triangle-bottom icon"></i>
            </button>
            <div id="myDropdown4" class="dropdown-content">
              <a href="#">Product Label (PDF)</a>
              <a href="#">Product Barcode (PDF)</a>
             
            </div>
          </div>
          <div class="dropdown none" id="dropdown-list2">
            <button (click)="Function2('myDropdown5')" class="dropbtn">
                Action
                <i class="glyphicon glyphicon-triangle-bottom icon"></i>
            </button>
            <div id="myDropdown5" class="dropdown-content">
              <a href="#">Archived</a>
              <a href="#">Unarchive</a>
              <a href="#">Delete</a>
              
            </div>
        </div>
          <div class="dropdown">
              <button (click)="Function2('myDropdown1')" class="dropbtn">
                  <i class="glyphicon glyphicon-filter"></i>
                  Filters
                  <i class="glyphicon glyphicon-menu-down"></i>
              </button>
              <div id="myDropdown1" class="dropdown-content">
                <table>
                  <tr> <a href="#">Services</a>
                   <a href="#">Products</a> </tr>
                   <tr> <a href="#">Can be Solde</a>
                  <a href="#">Can be Purchaced</a></tr>
                  <tr><a href="#">Available Products</a>
                  <a href="#">Can be Solde</a>
                  <a href="#">Add Custom Filter</a></tr>
                </table>
              </div>
          </div>
          <div class="dropdown">
              <button (click)="Function2('myDropdown2')" class="dropbtn">
                  <i class="glyphicon glyphicon-tasks"></i>
                  Group By
                  <i class="glyphicon glyphicon-menu-down"></i>
              </button>
              <div id="myDropdown2" class="dropdown-content">
                <table>
                 <tr> <a href="#">Product Type</a></tr>
                 <tr> <a href="#">Product Category</a></tr>
                 <tr> <a href="#">Add Custom Group</a></tr>
              </table>
              </div>
          </div>
          <div class="dropdown">
              <button (click)="Function2('myDropdown3')" class="dropbtn">
                  <i class="glyphicon glyphicon-star"></i>
                  Favorites
                  <i class="glyphicon glyphicon-menu-down"></i>
              </button>
              <div id="myDropdown3" class="dropdown-content">
                <a href="#">Save Current Search</a>
              </div>
          </div>
    
              <button id="btnkanbanview" class="btn btn-default" (click)="Activer('btnkanbanview','btnlistview')" (click)="Openview('divkanbanview','divlistview')">
                  <i class="glyphicon glyphicon-th-large"></i> 
              </button>
              <button  id="btnlistview" class="btn btn-default active" (click)="Activer('btnlistview','btnkanbanview')" (click)="Openview('divlistview','divkanbanview')">
                <i class="glyphicon glyphicon-th-list"></i> 
            </button>                     
         </div>
            <button class="button-create" (click)="ClickedInButtonCreateProducts()">Create</button>
            <button  class="btn btn-default">Import</button>
            <button id="exportbtn" class="btn btn-default ">
                <span class="glyphicon glyphicon-download-alt"></span>
            </button>
        </div>
      </div>
     <!-- End of head-->
     <div id="divlistview">
       
      <table id="tableproducts" class="table table-hover">
        <thead>
          <tr>
            <td>
              <label><input type="checkbox" id="checkbox-principal" (click)="FunctionCheckBox('checkbox','checkbox-principal')"></label>
            </td>
            <th>Internal References</th>
            <th>Name</th>
            <th>Sale Price</th>
            <th>Cost</th>
            <th>Product Type</th>
            <th>Quantity On Hand</th>
          </tr>
        </thead> 
        <tbody>
          <tr *ngFor = 'let item of items'>
            <td>
              <label><input type="checkbox" class="checkbox" (click)="FunctionCheckBox2()"></label></td>
               
                <td>{{item.ir}}</td>
                <td>{{item.names}}</td>
                <td>{{item.sp}}</td>
                <td>{{item.cost}}</td>
                <td>{{item.types}}</td>
                <td>{{item.qt}}</td>
        
          </tr>
         
        </tbody>
      </table>

     </div>

     <div id="divkanbanview">
       
         <div id="kanbanproduct" *ngFor = 'let item of items'>

          <table>
            <tbody>
              <tr>
                <td>
                    <div class="productimg">
                      <img src= {{TransformImage(item.img)}} />

                      </div>
                </td>
                <td>
                    <div class="productsinfo">
                        <p id="styleProductname">{{item.names}}</p>
                        <p id="styleP">Price $ :</p>
                        <p id="styleP">On Hand :</p>
           
                      </div>
                </td>
                <td>
                    <div class="productsinfo">
                        <p id="stylePhidden">p</p>
                        <p id="styleP">{{item.sp}}</p>
                        <p id="styleP">{{item.qt}}</p>                   
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
         </div>
     </div>


</div>