/* Begin style de head*/
.section-title
{
    float: left;
    color: #2a3f5a;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 20px;
}

.input-group .input-group-btn .btn i{
    color: #007bff;
}

.input-group
{
    float: right;
    margin-bottom: 5px;
    margin-top: 15px;
    width: 400px;
}

/* End style de head*/

/*
head2 begin
*/
.head2
{

    margin-bottom: 10px;
     padding-right: 97px;

}
.head-principal
{
    position: fixed;
    background-color: #fff;
    border-bottom: 1px solid #BDBDBD;
    width: 86%;
    display: block;
    padding-right: 20px;
    z-index: 5;
}
.container-fluid {
      padding-right: 0px !important;
      padding-left: 0px !important;

}
.button-group2
{
    float: right;
    display: block;
    margin-right: 0px;
    
}
/*Dropdown Button */
.dropbtn {
  background-color: #ffff;
  color: black;
  padding: 7px;
  font-size: 13px;
  border: none;
  cursor: pointer;
  border: #BDBDBD 1px solid;
  border-radius: 3px;
  margin-right: 5px;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
/*
head2 end
*/
.row
{  
    margin-right: 15px !important;
    margin-left: 15px !important;    
}

div#divlistview
{
    margin-top: 100px;
   
}
div#divkanbanview
{
    display: none;
    margin-top: 120px;
}
@media (max-width:428px)
{
.button-group2
{
    width: 100%;
    
   
}
.head2
{
     padding-right: 0px;
}
}
@media (max-width:650px)
{
.button-group
{
    text-align: center;
}
.input-group
{
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 330px;
  
}

.section-title
{
 display: block;
 padding-left: 10px;
 width: 100%;
}
.button-group2
{
    float: left;
    display: block;
    width: 100%;
    padding-left: 10px;
}
.main
{
    margin-top: 300px;

}
}

@media (max-width:960px)
{
   .head-principal
   {
       width: 100%;
       padding-right: 20px;
   }
   .button-group
   {
    text-align: center;
   }
}
@media (max-width:950px)
{
    .row
    {
        
        margin-right: 0px !important;
        margin-left: 0px !important;    
        
    }
    .col-xs-4
    {
        margin-left: 0px !important;
        width: 300px;
        height: 200px; 
    }
   
}
@media (max-width:977px)
{
   .head-principal
   {
       padding-right: 20px;
   }
}
@media only screen and (max-width: 1200px) {
    .head-principal{
      padding-right: 50px;
      padding-left: 20px;
    }
}

/*-------------------------------------------------------------------------------------*/

table#tableproducts
{
    background-color: white;
    color: #0a8ea4;
   
}
thead{
    background-color: #eeeeee;
    color: #000;
    cursor: pointer;
  
}
table td
{
  cursor: pointer;
}

.button-create
{
    background-color:#007bff;
    padding: 8px;
    margin-right: 10px;
    font-size: 15px;
    border: none;
    color: white;
    border-radius: 4px;
    
}
button#exportbtn
{
    margin-left: 10px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

div#kanbanproduct
{
    margin-left: 10px;
    width: 350px;
    background-color: white;
    height: 120px;
    border:#d2d2ff 2px solid;
    padding-right:0px !important;
    padding-left: 0px !important;
    margin-bottom: 7px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    display: block;
    float: left;
    cursor: pointer;
}

#btnlistview
{
  
    cursor: pointer;
  
}
#btnkanbanview
{
    cursor: pointer;
    margin-left: 18px;
    margin-right:5px;
}

@media (max-width:428px)
{
    #btnlistview
    {
        margin-left: 0px;
        margin-right: 2px;
    }
}



