<div class="container-fluid">
  <!-- Begin of head-->
  <div class="head-principal">
  <div class="row head">
  
      <div class="section-title">
         <span>Products</span>
      </div>

      <div class="input-group">
             <input type="text" id="barderecherche" class="form-control" placeholder="Search" name="search">
             <div class="input-group-btn">
               <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
             </div>
        </div>
      
     </div>
     <div class="row head2">
         <div class="button-group2">
          <div class="dropdown none" id="dropdown-list1" >
            <button (click)="Function2('myDropdown4')" class="dropbtn">
                 Print
                 <i class="glyphicon glyphicon-triangle-bottom icon"></i>
            </button>
            <div id="myDropdown4" class="dropdown-content">
              <a href="#">Archived</a>
              <a href="#">Add Custom Filter</a>
              <a href="#">Link 3</a>
            </div>
          </div>
          <div class="dropdown none" id="dropdown-list2">
            <button (click)="Function2('myDropdown5')" class="dropbtn">
                Action
                <i class="glyphicon glyphicon-triangle-bottom icon"></i>
            </button>
            <div id="myDropdown5" class="dropdown-content">
              <a href="#">Archived</a>
              <a href="#">Add Custom Filter</a>
              <a href="#">Link 3</a>
            </div>
        </div>
          <div class="dropdown">
              <button (click)="Function2('myDropdown1')" class="dropbtn">
                  <i class="glyphicon glyphicon-filter"></i>
                  Filters
                  <i class="glyphicon glyphicon-menu-down"></i>
              </button>
              <div id="myDropdown1" class="dropdown-content">
                <a href="#">Archived</a>
                <a href="#">Add Custom Filter</a>
                <a href="#">Link 3</a>
              </div>
          </div>
          <div class="dropdown">
              <button (click)="Function2('myDropdown2')" class="dropbtn">
                  <i class="glyphicon glyphicon-tasks"></i>
                  Group By
                  <i class="glyphicon glyphicon-menu-down"></i>
              </button>
              <div id="myDropdown2" class="dropdown-content">
                <a href="#">Type of Operation</a>
                <a href="#">Warehouse</a>
                <a href="#">Add Custom Group</a>
              </div>
          </div>
          <div class="dropdown">
              <button (click)="Function2('myDropdown3')" class="dropbtn">
                  <i class="glyphicon glyphicon-star"></i>
                  Favorites
                  <i class="glyphicon glyphicon-menu-down"></i>
              </button>
              <div id="myDropdown3" class="dropdown-content">
                <a href="#">Save Current Search</a>
              </div>
          </div>
    
              <button id="btnkanbanview" class="btn btn-default" (click)="Activer('btnkanbanview','btnlistview')" (click)="Openview('divkanbanview','divlistview')">
                  <i class="glyphicon glyphicon-th-large"></i> 
              </button>
              <button  id="btnlistview" class="btn btn-default active" (click)="Activer('btnlistview','btnkanbanview')" (click)="Openview('divlistview','divkanbanview')">
                <i class="glyphicon glyphicon-th-list"></i> 
            </button>                     
         </div>
            <button class="button-create" (click)="ClickedInButtonCreateProducts()">Create</button>
            <button  class="btn btn-default">Import</button>
            <button id="exportbtn" class="btn btn-default ">
                <span class="glyphicon glyphicon-download-alt"></span>
            </button>
        </div>
      </div>
     <!-- End of head-->
     <div id="divlistview">
       
      <table id="tableproducts" class="table table-hover">
        <thead>
          <tr>
            <th>
              <label><input type="checkbox" id="checkbox-principal" (click)="FunctionCheckBox('checkbox','checkbox-principal')"></label>
            </th>
            <th>Internal References</th>
            <th>Name</th>
            <th>Sale Price</th>
            <th>Cost</th>
            <th>Quantity On Hands</th>
            <th>Forecasted Quantity</th>
            <th><span class="glyphicon glyphicon-option-vertical"></span></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <label><input type="checkbox" class="checkbox" (click)="FunctionCheckBox2()"></label></td>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
              <td><label><input type="checkbox" class="checkbox" (click)="FunctionCheckBox2()"></label></td>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
              <td><label><input type="checkbox" class="checkbox" (click)="FunctionCheckBox2()"></label></td>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
              <td><label><input type="checkbox" class="checkbox" (click)="FunctionCheckBox2()"></label></td>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
              <td><label><input type="checkbox" class="checkbox" (click)="FunctionCheckBox2()"></label></td>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
              <td><label><input type="checkbox" class="checkbox" (click)="FunctionCheckBox2()"></label></td>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
              <td><label><input type="checkbox" class="checkbox" (click)="FunctionCheckBox2()"></label></td>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
              <td><label><input type="checkbox"class="checkbox" (click)="FunctionCheckBox2()"></label></td>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
              <td><label><input type="checkbox" class="checkbox" (click)="FunctionCheckBox2()"></label></td>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
              <td><label><input type="checkbox" class="checkbox" (click)="FunctionCheckBox2()"></label></td>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
              <td><label><input type="checkbox" class="checkbox" (click)="FunctionCheckBox2()"></label></td>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
              <td><label><input type="checkbox" class="checkbox" (click)="FunctionCheckBox2()"></label></td>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
              <td><label><input type="checkbox" class="checkbox" (click)="FunctionCheckBox2()"></label></td>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          
        </tbody>
      </table>

     </div>

     <div id="divkanbanview">
      
         <div id="kanbanproduct">

         </div>
         <div id="kanbanproduct">

        </div>
        <div id="kanbanproduct">

        </div>
        <div id="kanbanproduct">

        </div>
        <div id="kanbanproduct">

       </div>
       <div id="kanbanproduct">

       </div>
       <div id="kanbanproduct">

      </div>
      <div id="kanbanproduct">

     </div>
     <div id="kanbanproduct">

     </div>

       

     </div>


</div>