
<div class="container-fluid">
    <!-- Begin of head-->
    <div class="head-principal">
       <div class="row head">
    
        <div class="section-title">
           <span>OverView/Receipts/New</span>
        </div>
          
       </div>
       <div class="row head2">
          <div class="button-group1">
           <button class="button1">Save</button>
           <button class="button2">Discard</button>
          </div>
       </div>
       <div class="row head3">
         <div class="button-group2">
          <button class="button1">Validate</button>
          <button class="button2">Cancel</button>
         </div>
         <!-- <div class="comp-right">
            <span class="item">Draft</span>
            <span>Wainting</span>
            <span>Ready</span>
            <span>Done</span>
         </div> -->
      </div>
    </div>
       <!-- End of head-->
       <div class="main">
         <div class="title">
            <h1 class="section-title2">Your Company</h1>
         </div>
         
         <div class="principal">
           <div class="header">
              <div class="inside-header">
               <i class="glyphicon glyphicon-resize-vertical"></i>
               <span>Operations</span>
            </div>
           </div>
           <div class="inside1">
              <div class="inside1">
                 <table>
                    <tr>
                     
                     <td class="label-tab">Receive From</td>
                     <td class="input-tab-td">
                        <div class="input-tab">
                           <input type="text">
                           <i class="glyphicon glyphicon-triangle-bottom"></i>
                        </div>
                      </td> 
                    
                     <td class="label-tab">Scheduled Date</td>
                     <td class="input-tab-td">
                        <div class="input-tab">
                           <input type="text">
                           <i class="glyphicon glyphicon-triangle-bottom"></i>
                        </div>
                      </td>
                    </tr>
                    <tr>
                        <td class="label-tab">Operation Type</td>
                        <td class="input-tab-td">
                           <div class="input-tab">
                              <input type="text">
                              <i class="glyphicon glyphicon-triangle-bottom"></i>
                           </div>
                         </td>
                           <td class="label-tab">Source Document</td>
                           <td class="input-tab-td">
                              <div class="input-tab">
                                 <input type="text">
                              </div>
                            </td>
                        
                    </tr>
                 </table>
              </div>
           </div>
           <div class="inside2">
              <ul class="list-nav">
                 <li (click)="FunctionMenuInsideClick('l1','l2','l3','d1','d2','d3')"
                 class="nav-link active" id="l1">Operations</li>
                 <li (click)="FunctionMenuInsideClick('l2','l1','l3','d2','d1','d3')" 
                  class="nav-link" id="l2">Additional Info</li>
                 <li (click)="FunctionMenuInsideClick('l3','l2','l1','d3','d2','d1')"
                 class="nav-link" id="l3">Note</li>
              </ul>
              <div class="div1" id='d1'>
                 <span>div1</span>
              </div>
              <div class="div2" id='d2'>
               <span>div2</span>
              </div>
              <div class="div3" id='d3'>
               <span>div3</span>
              </div>
           </div>
           </div>
         
      </div>
         
      
</div>