<div class="container-fluid">
    <!-- Begin of head-->
    <div class="head-principal">
    <div class="row head">
    
        <div class="section-title">
           <span>Dashboard / Statistics</span>
        </div>
          
          
       </div>
       </div>
       <!-- End of head-->
       <div class="main">
              <div class="row header">

                  <div class="col-md-3 product">
                    <div class="inside">
                      <i class="glyphicon glyphicon-tags icon"></i>
                      <div class="info">
                        <span class="info1">
                          100
                        </span>
                        <span class="info2">
                          Products
                        </span>
                      </div>
                    </div>
                  
                  </div>
                  <div class="col-md-3 transfers">
                    <div class="inside">
                      <i class="glyphicon glyphicon-transfer icon"></i>
                      <div class="info">
                        <span class="info1">
                        20
                        </span>
                        <span class="info2">
                            Transfer
                        </span>
                      </div>
                    </div>
                  </div>
                
                  <div class="col-md-3 alerts">
                    <div class="inside">
                      <i class="glyphicon glyphicon-bullhorn icon"></i>
                      <div class="info">
                        <span class="info1">
                          4
                        </span>
                        <span class="info2">
                          Alerts
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3 scrap">
                    <div class="inside">
                      <i class="glyphicon glyphicon-trash icon"></i>
                      <div class="info">
                        <span class="info1">
                          20
                        </span>
                        <span class="info2">
                          Scrap
                        </span>
                      </div>
                    </div>
                  </div>
             </div>

<div class="row body">
<div class="col-md-2">

  <canvas id="line-chart"></canvas>

</div>
<div class="col-md-2">
  <canvas id="doughnut-chart"></canvas> 

  

</div>
</div>
</div>
</div>